*.flatpak
*.o
*.swp
*~
.DS_Store
.flatpak-builder/
.idea/
.pre-commit-config.yaml
.vscode/
build-dir/
build-repo/
build/
node_modules/
webextension/build/
coverage.out
repo/
/switchyard
switchyard-webextension-chrome.zip
firefox-extension/
result
/sw
