[Desktop Entry]
Type=Application
Name=Switchyard
GenericName=Web Browser
Comment=Choose which browser opens each link
Exec=switchyard %U
Icon=io.github.alyraffauf.Switchyard
Terminal=false
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Keywords=browser;web;url;link;
