[Desktop Entry]
Version=1.0
Type=Application

Name=Switchyard
Comment=Rules-based URL router and browser launcher for Linux
Categories=Network;WebBrowser;GNOME;
MimeType=x-scheme-handler/http;x-scheme-handler/https;

Icon=io.github.alyraffauf.Switchyard
Exec=switchyard %U
Terminal=false
